<div class="litebox" (click)="close($event)">
    <button type="button" class="litebox__close" (click)="closeLitebox.emit()">
        <fa-icon [icon]="faTimes"></fa-icon>
    </button>
    <div class="litebox__wrapper">

        <img class="litebox__img" [src]="item.src" alt="">

        <div class="litebox__info">
            <div class="litebox__info-item">
                <fa-icon class="litebox__icon-like liked" [ngClass]="{liked: item.isLiked}" [icon]="faHeart" (click)="toggleLike()"></fa-icon>
                <span>{{item.likes}}</span>
            </div>

            <div class="litebox__info-item" *ngIf="showCommentsIcon()">
                <fa-icon class="litebox__icon-comment" [icon]="faComments"></fa-icon>
                <span>{{item.comments.length}}</span>
            </div>
        </div>

        <div class="litebox__content" *ngIf="showComments">
            <div class="litebox__comment" *ngFor="let comment of item.comments">
                <h3 class="autor">{{comment.autor}}</h3>
                <p class="comment">{{comment.value}}</p>
            </div>
        </div>

        <div class="litebox__control">
            <button type="button" class="litebox__btn left" (click)="prevItem.emit()">
                <fa-icon [icon]="arrowLeft"></fa-icon>
            </button>
            <button type="button" class="litebox__btn right" (click)="nextItem.emit()">
                <fa-icon [icon]="arrowRight"></fa-icon>
            </button>
        </div>

    </div>
</div>