@import 'vars';
.litebox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);

    @include flex(row, center, center);

    &__close {
        font-weight: lighter;
        font-size: 24px;
        height: 50px;
        width: 50px;
        background-color: rgba(0, 0, 0, 0.1);
        color: #888;
        border-radius: 100%;
        border: none;
        position: absolute;
        right: 30px;
        top: 30px;
        transition: .4s ease all;
        outline: none;
        cursor: pointer;

        &:hover {
            color: #ddd;
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.5);
        }

        @media (max-width: 640px) {
            font-size: 18px;
            height: 36px;
            width: 36px;
            top: 5px;
            right: 5px;
        }
    }

    &__img {
        width: 100%;
    }

    &__wrapper {
        padding: 15px;
        padding-bottom: 0;
        max-width: 400px;
        box-sizing: border-box;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        
        @include flex(column, center, center)
    }

    &__info {
        width: 100%;
        padding: 8px 0;
        @include flex(row, $item: center);

        &-item {
            & + & {
                margin-left: 10px;
            }
        }
    }


    &__comment {
        padding: 5px;
        & + & {
            padding-top: 16px;
            border-top: 1px solid #ddd;
        }

        .autor {
            font-size: 16px;
            margin: 0;
            margin-bottom: 6px;
        }
        .comment {
            font-size: 12px;
            margin: 5px 0;
        }
    }

    &__icon {
        &-like {
            color: #ddd;
            cursor: pointer;
            font-size: 18px;
            margin-right: 4px;

            &.liked {
                color: red;
            }
        }
        &-comment {
            color: #ddd;
            cursor: pointer;
            font-size: 18px;
            margin-right: 4px;
        }
    }


    &__control {
        position: absolute;
        left: -8px;
        right: -8px;
        top: 50%;
        @include flex(row, space-between)
    }

    &__btn {
        background-color: #fff;
        height: 45px;
        width: 45px;
        border-radius: 100%;
        border: none;
        font-size: 16px;
        outline: none;
        cursor: pointer;
    }

    &__show-comments {
        margin-left: auto;
        border: none;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
        transition: all ease .4s;
        background: #fff;
        &:hover {
            color: $accent;
            color:#4284f3;
        }
    }

    &__no-comments {
        font-size: 12px;
        font-weight: 300;
        color: #777;
    }

    &__content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        background-color: #fff;
        transform: translateY(100%);
        transition: .3s ease all;
        padding: 15px 30px;
        max-height: 190px;
        overflow-y: auto;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
        z-index: 1;

        &.show {
            transform: translateY(0);
        }
    }
    &__hide-comments {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        border: none;
        background-color: #fff;
        outline: none;
        cursor: pointer;
        transition: .4s ease all;
        &:hover {
            transform: scale(1.3);
        }
    }
}


.form {
    @include flex(column);

    &__title {
        font-weight: 300;
        margin: 10px 0;
    }

    input {
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        height: 30px;
        padding-left: 15px;
        box-sizing: border-box;

        &.ng-valid {
            border-color: greenyellow
        }
    }
    button {
        height: 30px;
        background-color: $accent;
        color: #fff;
        border: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 2px;

        &[disabled] {
            background-color: #dedede;
        }
    }
}