@import 'vars';
.litebox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);

    @include flex(row, center, center);

    &__wrapper {
        padding: 15px;
        max-width: 400px;
        box-sizing: border-box;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        
        @include flex(column, center, center)
    }

    &__comment {
        padding: 5px;

        .autor {
            font-size: 16px;
            margin: 0;
            margin-bottom: 6px;
        }
        .comment {
            font-size: 12px;
        }
    }

    &__icon {
        &-like {
            color: #ddd;
            cursor: pointer;
            font-size: 14px;

            &.liked {
                color: red;
            }
        }
    }


    &__control {
        position: absolute;
        left: -8px;
        right: -8px;
        top: 50%;
        @include flex(row, space-between)
    }

    &__btn {
        background-color: #fff;
        height: 45px;
        width: 45px;
        border-radius: 100%;
        border: none;
        font-size: 16px;
        outline: none;
        cursor: pointer;
    }
}