$accent: #fcdc00;

// Mixins
@mixin flex($direction, $content: flex-start, $item: stretch, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $item;
    flex-wrap: $wrap;
}