@import 'vars';
$gutter: 2rem;


.gallery {
    margin: 3rem auto;
    padding: 0 $gutter;
    @media (max-width: 480px) {
        padding: 0 1rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $gutter;

        @media (max-width: 1240px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 740px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
        }
    }

    &__item {
        position: relative;
        cursor: pointer;
        transition: .4s ease all;
        overflow: hidden;
        animation: showIn 0.5s;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: transparent;
            transition: inherit;
        }
        &:hover {
            &:before {
                background-color: #000;
                opacity: 0.8;
            }
            .gallery__description {
                bottom: 50%;
                transform: translateY(50%);
            }
        }
    }

    &__description {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        transition: inherit;
        @include flex(column, center, center);
        bottom: 20px;
        color: #fff;
        @media (max-width: 1240px) {
            font-size: 14px;
        }
    }
    &__title {
        font-weight: 500;
        margin: 0;
        margin-bottom: 4px;
    }

    &__info {
        @include flex(row, center, center);

        .likes {
            margin: 0 8px;
        }

        .liked {
            color: red;
        }
    }

    &__img {
        width: 100%;
    }
}


@keyframes showIn {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }