@import 'vars';

body {
    margin: 0;
    padding: 20px 0;
    background-color: #f9f9ff;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

input, textarea, button {
    font-family: inherit;
}